<div class="row mb-3" *ngFor="let elBook of myBooks; let i = index">
  <div class="col-md-12">
    <app-book [inputBook]="elBook" [routerLink]="i"></app-book>
    <button
      style="
        font-size: 16px;
        background-color: transparent;
        border: none;
        float: right;
      "
      (click)="onRemoveBook(i)"
    >
      -
    </button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <!-- localhost:4200/new -->
    <!-- localhost:4200/bookshelf/new -->
    <button class="btn btn-primary" routerLink="new">Add New books</button>
  </div>
</div>
