.svg-icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #d1d2d3;
  }
  
  .svg-icon circle {
    stroke: #d6d6d6;
    stroke-width: 1;
  }

  
  .dropdown-toggle::after{
    display:none;
  }