
<div *ngIf="book; else noSelect">
  <h2>{{book.title}}</h2>
  <h3>{{book.author}}</h3>
  <p>{{book.genre}}</p>
  <img src="" alt="" class="img-responsive" />
  <small>Tags</small>
  <hr />

  <div class="dropdown" appDropdown #r = "appDropdown">
    <button class="btn btn-primary" (click)="onEditBook()">Edit book</button>
    <!-- <ul class="dropdown-menu" [ngClass]="{show: r.isOpen}">
      <a class="dropdown-item">Save Book</a>
      <a class="dropdown-item">Delete Book</a>
    </ul> -->
  </div>
  
</div>
<ng-template #noSelect>
  <div class="row">
    <div class="div col-md-10 mx-auto">Nothing to edit!</div>
  </div>
</ng-template>
